{% extends 'Shared/base.html' %}
{% load widget_tweaks %}
{% block title %}ورود{% endblock %}
{% block content %}
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <div class="blog-post-body">
                <div class="container text-center mb-3">
                    <h2 class="heading sahel-bold">پروگما | ورود</h2>
                    <div class="intro sahel ">ورود به سایت</div>
                </div>
                <form method="post">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-12 mt-2">{% render_field form.username class="form-control rounded-lg border" rows="1" placeholder="نام کاربری..." %}</div>
                        <div class="col-md-12 mt-2">{% render_field form.password class="form-control rounded-lg border" rows="1" placeholder="رمرعبور..." %}</div>
                        <div class="col-12 text-center mt-2">
                            <button type="submit" class="btn btn-sm btn-primary">ورود
                            </button>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-12 mt-2">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.username.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.password.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>

    </article>
{% endblock %}