{% extends 'Shared/base.html' %}
{% load widget_tweaks %}
{% block title %}ثبت نام{% endblock %}
{% block content %}
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <div class="blog-post-body">
                <div class="container text-center mb-3">
                    <h2 class="heading sahel-bold">پروگما | ثبت نام</h2>
                    <div class="intro sahel ">ثبت نام در سایت</div>
                </div>
                <div class="row my-2">
                    <div class="col-12">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.username.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.first_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.last_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.email.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.password1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.password2.errors %}
                            <div class="alert alert-danger my-1">
                                {% for error in form.password2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <form method="post">
                    <div class="row">
                        {% csrf_token %}

                        <div class="col-md-12 mt-1">
                            <label>{{ form.username.label }}</label>{% render_field form.username class="form-control rounded-lg border" rows="1" placeholder="نام کاربری..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>{{ form.first_name.label }}</label>{% render_field form.first_name class="form-control rounded-lg border" rows="1" placeholder="نام..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>{{ form.last_name.label }}</label>{% render_field form.last_name class="form-control rounded-lg border" rows="1" placeholder="نام خانوادگی..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>{{ form.email.label }}</label>{% render_field form.email class="form-control rounded-lg border" rows="1" placeholder="ایمیل..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>{{ form.password1.label }}</label>{% render_field form.password1 class="form-control rounded-lg border" rows="1" placeholder="رمز عبور..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            <label>{{ form.password2.label }}</label>{% render_field form.password2 class="form-control rounded-lg border" rows="1" placeholder="تکرار رمرعبور..." %}
                        </div>
                        <div class="col-md-12 mt-2">
                            {{ form.captcha }}
                        </div>
                        <div class="col-12 text-center mt-2">
                            <button type="submit" class="btn btn-sm btn-primary">ثبت نام
                            </button>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <a class="mb-3 btn btn-warning text-dark" style="height: auto"
                           href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.get_full_path }}">ورود
                            با
                            گوگل <i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </article>
{% endblock %}