{% extends 'Shared/base.html' %}
{% load humanize %}
{% block content %}
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading sahel">پروگما | مقالاتی برای برنامه نویسان</h2>
            <div class="intro sahel ">برای دریافت آخرین مقالات پروگما ایمیلت رو وارد کن !</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">ایمیل</label>
                    <input type="email" id="semail" name="semail1" class="form-control ml-md-1 semail sahel"
                           placeholder="ایمیل تو...">
                </div>
                <button type="submit" class="btn btn-primary sahel">مشترک شدن</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            {% for article in page_obj %}
                <div class="item mb-5">
                    <div class="media">
                        <img class="ml-3 img-fluid post-thumb d-none d-md-flex"
                             src="{{ article.image_list.url }}" alt="{{ article.title }}">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="#">{{ article.title }}</a>
                            </h3>
                            <div class="meta mb-1"><span class="date">{{ article.publish|naturaltime }}</span><span
                                    class="time">5 بازدید</span><span
                                    class="comment"><a href="#">8 دیدگاه</a></span></div>
                            <div class="intro text-justify">{{ article.description|striptags|truncatewords:50 }}
                            </div>
                            <a class="more-link" href="#">&rarr; ادامه مقاله</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
            {% empty %}
                <p class="alert alert-warning">مقاله ای یافت نشد</p>
            {% endfor %}
            <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link rounded sahel mx-1" href="#">قبلی<i
                        class="arrow-prev fas fa-long-arrow-alt-right sahel"></i></a>
                {% comment %}<a class="nav-link-next nav-item nav-link rounded sahel mx-1" href="blog-list.html">بعدی<i
                        class="arrow-next fas fa-long-arrow-alt-left"></i></a>{% endcomment %}
            </nav>
        </div>

    </section>
{% endblock %}