@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');
@font-face {

    font-family: yekan;
    
    src: url(fonts/Yekan.ttf) format("truetype");
    src: url(fonts/Yekan.eot) format("eot");
    src: url(fonts/Yekan.woff) format("woff");
    
    font-weight: normal;
    
    font-style: normal
    
    }

body {
    text-align: right !important;
    direction: rtl !important;
    font-family: yekan !important;
}

.text-left {
    text-align: right !important;
}


.blog-post .blockquote {
    font-family: Georgia,"Times New Roman",Times,serif;
    border-right: 2px solid #292929;
    font-size: 1.5rem;
}