{% load render_partial %}
{% url 'subscribers:subscribe' as subscribe %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>پروگما | {% block title %}{% endblock %}</title>
    {% render_partial 'progma.views.site_header_references' %}
    {% block add_header_reference %}{% endblock %}
</head>
<body>
{% render_partial 'progma.views.site_sidebar' %}
<div class="main-wrapper">
    {% include 'Shared/messages.html' %}
    {% block content %}{% endblock %}
    {% if not request.path == subscribe %}
        <div style="font-size: 1.1rem;background-color: #ffc107 !important"
             class="col-12 intro sahel-bold text-center p-1">برای
            دریافت آخرین مقالات از طریق
            ایمیل <a style="color: red" href="{% url 'subscribers:subscribe' %}">کلیک</a> کن !
        </div>
    {% endif %}
    {% include 'Shared/Footer.html' %}
</div><!--//main-wrapper-->
<!-- Javascript -->
{% include 'Shared/__FooterReferences.html' %}
{% block add_footer_reference %}{% endblock %}
</body>
</html>

