{% load static %}
{% url 'article:article_list' as article_list %}
<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0 sahel-bold"><a href="{% url 'article:article_list' %}">برنامه نویسی با پروگما</a>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'images/profile.png' %}"
                     alt="image">

                <div class="bio mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است.<br><a class="text-decoration-none a-m-h" href="#">منو بیشتر بشناس ...</a></div>
                <!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #FFFFFF;">
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item {% if request.path == article_list %}active{% endif %}">
                    <a class="nav-link" href="{% url 'article:article_list' %}"><i
                            class="fas fa-newspaper fa-fw ml-2"></i>مقالات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw ml-2"></i>ذخیره شده</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw ml-2"></i>درباره من</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fas fa-phone fa-fw ml-2"></i>تماس با من</a>
                </li>
            </ul>

            <div class="my-2 my-md-3">
                <a style="text-shadow: 1px 1px 5px #000000;" class="btn btn-danger" href="#" target="_blank">ورود</a>
            </div>
        </div>
    </nav>
</header>