{% url 'article:article_list' as article_list %}
{% url 'article:article_search' as article_search %}
{% url 'article:article_save' as article_save %}
{% url 'about_us' as about_us %}
{% url 'contact:create_contact' as contact %}
<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0 sahel-bold"><a href="{% url 'article:article_list' %}">برنامه نویسی با پروگما</a>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{{ settings.site_logo.url }}"
                     alt="پروگما">

                <div class="bio mb-3">{{ settings.short_about_us }}
                    <br>
                    <a class="text-decoration-none a-m-h" href="{% url 'about_us' %}">منو بیشتر بشناس ...</a></div>
                <!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/{{ settings.twitter }}"><i
                            class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://t.me/{{ settings.telegram }}"><i
                            class="fab fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item"><a target="_blank" href="https://github.com/{{ settings.github }}"><i
                            class="fab fa-github fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item"><a target="_blank"
                                                    href="https://www.instagram.com/{{ settings.instagram }}"><i
                            class="fab fa-instagram fa-fw"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://youtube.com/{{ settings.youtube }}"><i
                            class="fab fa-youtube fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #FFFFFF;">
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item {% if request.path == article_search %}active{% endif %}">
                    <a class="nav-link" href="{{ article_search }}"><i
                            class="fas fa-newspaper fa-fw ml-2"></i>مقالات</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {% if request.path == article_save %}active{% endif %}">
                        <a class="nav-link" href="{{ article_save }}"><i class="fas fa-bookmark fa-fw ml-2"></i>ذخیره
                            شده</a>
                    </li>{% endif %}
                <li class="nav-item {% if request.path == about_us %}active{% endif %}">
                    <a class="nav-link" href="{{ about_us }}"><i class="fas fa-user fa-fw ml-2"></i>درباره من</a>
                </li>
                <li class="nav-item {% if request.path == contact %}active{% endif %}">
                    <a class="nav-link" href="{{ contact }}"><i class="fas fa-phone fa-fw ml-2"></i>تماس با من</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="



                                {% if request.path == article_save %}{% url 'logout' %}{% else %}{% url 'logout' %}?next={{ request.path }}{% endif %}">
                            <i class="fas fa-sign-out-alt fa-fw ml-2"></i>خروج</a>
                    </li>
                {% endif %}
            </ul>

            <div class="my-2 my-md-2">
                {% if not user.is_authenticated %}
                    <a class="mb-3 btn btn-warning text-dark" style="height: auto"
                       href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">ورود
                        با
                        گوگل <i class="fab fa-google"></i></a>
                {% else %}
                    <a class="mb-3 btn btn-warning text-dark" style="height: auto">خوش
                        آمدی {% if user.get_full_name %}{{ user.get_full_name }}{% else %}
                            {{ user.username }}{% endif %}</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>