{% extends 'Shared/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block add_header_reference %}
    <link rel="stylesheet" href="{% static 'comments/comments.css' %}">
{% endblock %}
{% block title %}مقاله {{ object.title }}{% endblock %}
{% block content %}
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h2 class="title mb-2">{{ object.title }}</h2>
                <div class="meta mb-3">
                    <span class="date">{{ object.publish|naturaltime }}</span>
                    <span class="comment">نویسنده : <a href="#">{% if object.author.get_full_name %}
                        {{ object.author.get_full_name }}{% else %}{{ object.author.username }}{% endif %}</a></span>
                    <span class="time">{{ object.hits.count }} بازدید</span>
                    <span class="comment"><a
                            href="#article-comment">{{ article.article_comment.get_active_comment.count }} دیدگاه</a></span>
                </div>
            </header>
            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="{% url 'article:article_detail' object.slug %}"><img class="img-fluid"
                                                                                  src="{{ object.image.url }}"
                                                                                  alt="{{ object.title }}"></a>
                    <figcaption class="mt-2 text-center image-caption">تصویر از : <a
                            href="{% url 'article:article_list' %}" target="_blank">پروگما</a></figcaption>
                </figure>
                <div>{{ object.description|safe }}</div>
                {% if user.is_authenticated %}
                    <div class="article-tag text-center">
                        {% if object not in user.save_article.articles.get_publish_article %}
                            <form method="post"
                                  action="{% url 'article:article_save_add' object.pk %}?next={{ request.get_full_path }}">
                                {% csrf_token %}
                                <button style="padding: 0" class="btn text-danger" type="submit"><i
                                        style="font-size: 1.4rem;"
                                        class="fas fa-save"></i>
                                    <span class="mr-1">ذخیره مقاله</span></button>

                            </form>
                        {% else %}
                            <form method="post"
                                  action="{% url 'article:article_save_remove' object.pk %}?next={{ request.get_full_path }}">
                                {% csrf_token %}
                                <button style="padding: 0" class="btn text-danger" type="submit"><i
                                        style="font-size: 1.4rem;"
                                        class="fas fa-save"></i>
                                    <span class="mr-1">حذف از ذخیره شده ها</span></button>

                            </form>
                        {% endif %}

                    </div>
                {% endif %}
                <div class="text-justify article-tag">
                    <span>برچسب ها :</span> {% for tag in object.tags.get_active_tag %}
                    <a href="/articles/?s={{ tag.title }}">{{ tag.title }}</a>{% endfor %}
                </div>
                <div class="my-4" style="border-bottom: 1px solid gray;"></div>
                <div id="article-comment" class="blog-comments-section">
                    <div class="row">
                        <div class="col-md-12"><h3 style="color: #3B7EEB;margin-bottom:30px !important;">دیدگاه ها
                            ({{ object.article_comment.get_active_comment.count }})</h3>
                        </div>
                        <div class="col-md-12 mb-4 text-center">
                            {% if user.is_authenticated %}
                                <div class="media-body">

                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {% render_field form.content class="form-control rounded-lg border" rows="4" placeholder="نوشتن دیدگاه ..." %}
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary">ارسال</button>
                                    </form>
                                </div>
                            {% else %}
                                <p class="alert alert-danger text-center">برای ثبت دیدگاه <a
                                        href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">ورود</a>
                                    کنید</p>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="blog-comment">

                                <ul class="comments">
                                    {% for comment in object.article_comment.get_active_comment %}
                                        <li class="clearfix">
                                            <div class="post-comments">
                                                <p class="meta">{{ comment.created|naturaltime }} <a
                                                        class="mr-1 text-primary">
                                                    {% if comment.user.get_full_name %}
                                                        {{ comment.user.get_full_name }}{% else %}
                                                        {{ comment.user.username }}{% endif %}</a>
                                                    <i class="mr-2" class="pull-right"><a class=""
                                                                                          data-toggle="collapse"
                                                                                          href="#collapseExample{{ comment.id }}"
                                                                                          role="button"
                                                                                          aria-expanded="false"
                                                                                          aria-controls="collapseExample"><small>پاسخ
                                                        ({{ comment.replies.get_active_reply.count }})</small></a></i>
                                                </p>
                                                <p class="text-justify">
                                                    {{ comment.content }}
                                                </p>
                                            </div>
                                            <div class="collapse" id="collapseExample{{ comment.id }}">
                                                <div class="media-body mb-3 text-center">

                                                    <form method="post">
                                                        {% csrf_token %}

                                                        <div class="form-group">
                                                            {% render_field form.content class="form-control rounded-lg border" rows="1" placeholder="نوشتن پاسخ ..." %}

                                                        </div>
                                                        <!-- Hidden input for parent comment.id -->
                                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                        <button type="submit" class="btn btn-sm btn-primary">ارسال
                                                        </button>
                                                    </form>
                                                </div>
                                                {% for reply in comment.replies.get_active_reply %}
                                                    <ul class="comments reply">
                                                        <li class="clearfix">
                                                            <div class="post-comments reply-background">
                                                                <p class="meta">{{ reply.created|naturaltime }} <a
                                                                        class="mr-1" href="#">
                                                                    {% if reply.user.get_full_name %}
                                                                        {{ reply.user.get_full_name }}{% else %}
                                                                        {{ reply.user.username }}{% endif %}</a>
                                                                </p>
                                                                <p>
                                                                    {{ reply.content }}
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </div>


                                        </li>
                                    {% empty %}
                                        <p class="alert alert-warning text-center">هنوز نظری ثبت نشده ، تو اولین نظر رو
                                            ثبت کن</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </article>

{% endblock %}