{% extends 'Shared/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{% if request.GET.s %}جستوجوی {{ request.GET.s }} در مقالات{% else %}برای برنامه نویسان
{% endif %}{% endblock %}
{% block content %}
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading sahel-bold">
                پروگما |
                {% if request.GET.s %}
                    جستوجوی <span class="text-primary">{{ request.GET.s }}</span> در مقالات
                {% else %}
                    برای برنامه نویسان
                {% endif %}
            </h2>
            {#            <div class="intro sahel ">دنبال چه میگردی ؟</div>#}
            <form action="{% url 'article:article_search' %}"
                  class="signup-form form-inline justify-content-center pt-3 mt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">جست و جو</label>
                    <input type="search" id="s" name="s" class="form-control ml-md-1 semail sahel"
                           placeholder="دنبال چه میگردی ؟">
                </div>
                <button type="submit" class="btn btn-primary sahel">جست و جو</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            {% for article in page_obj %}
                <div class="item mb-3 blue-link">
                    <div class="media">
                        <a href="{% url 'article:article_detail' article.pk article.slug %}"><img
                                class="ml-3 img-fluid post-thumb d-none d-md-flex"
                                src="{{ article.image_list.url }}" alt="{{ article.title }}"></a>
                        <div class="media-body">
                            <h3 class="title mb-1"><a
                                    href="{% url 'article:article_detail' article.pk article.slug %}">{{ article.title }}</a>
                            </h3>
                            <div class="meta"><span
                                    class="date">{{ article.publish|naturaltime }}</span><span
                                    class="time">{{ article.hits.count }} بازدید</span>
                                <span class="comment">نویسنده : <a>{% if article.author.get_full_name %}
                                    {{ article.author.get_full_name }}{% else %}
                                    {{ article.author.username }}{% endif %}</a></span>
                                <span class="comment"><a>{{ article.article_comment.get_active_comment.count }} دیدگاه</a></span>
                                {% if user.is_authenticated %}
                                    <span class="comment">
                                    <a>
                                 <div class="article-tag text-center">
                                {% if article not in user.save_article.articles.get_publish_article %}
                                    <form method="post"
                                          action="{% url 'article:article_save_add' article.pk %}?next={{ request.get_full_path }}">
                                    {% csrf_token %}
                                    <button style="padding: 0" class="btn text-danger" type="submit"><i
                                            style="font-size: 1rem;" class="fas fa-save"></i>
                                    <span style="font-size: .9rem;" class="mr-1">ذخیره مقاله</span></button>
                                    </form>
                                {% else %}
                                    <form method="post"
                                          action="{% url 'article:article_save_remove' article.pk %}?next={{ request.get_full_path }}">
                                    {% csrf_token %}
                                    <button style="padding: 0" class="btn text-danger" type="submit"><i
                                            style="font-size: 1rem;"
                                            class="fas fa-save"></i>
                                    <span style="font-size: .9rem;" class="mr-1">حذف از ذخیره شده ها</span></button>

                                    </form>
                                {% endif %}

                            </div>

                            </a>
                                </span>
                                {% endif %}
                            </div>
                            <div class="intro text-justify">{{ article.description|striptags|safe|truncatewords:50 }}
                            </div>

                            <a class="more-link" href="{% url 'article:article_detail' article.pk article.slug %}">&rarr; ادامه
                                مقاله</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
                <hr>
            {% empty %}
                <p class="alert alert-warning">مقاله ای یافت نشد</p>
            {% endfor %}
            <div class="row">
                {% if page_obj.has_previous and not page_obj.has_next %}
                    <div class="col-12">
                        <nav class="blog-nav nav nav-justified my-5">
                            <a class="nav-link-prev nav-item nav-link rounded sahel mx-1"
                               href="?page={{ page_obj.previous_page_number }}">قبلی<i
                                    class="arrow-prev fas fa-long-arrow-alt-right sahel"></i></a>
                        </nav>
                    </div>
                {% elif page_obj.has_next and not page_obj.has_previous %}
                    <div class="col-12">
                        <nav class="blog-nav nav nav-justified my-5">
                            <a class="nav-link-prev nav-item nav-link rounded sahel mx-1"
                               href="?page={{ page_obj.next_page_number }}">بعدی<i
                                    class="arrow-prevl fas fa-long-arrow-alt-left sahel"></i></a>
                        </nav>
                    </div>
                {% elif page_obj.has_previous and page_obj.has_next %}
                    <div class="col-6">
                        <nav class="blog-nav nav nav-justified my-5">
                            <a class="nav-link-prev nav-item nav-link rounded sahel mx-1"
                               href="?page={{ page_obj.previous_page_number }}">قبلی<i
                                    class="arrow-prev fas fa-long-arrow-alt-right sahel"></i></a>
                        </nav>
                    </div>
                    <div class="col-6">
                        <nav class="blog-nav nav nav-justified my-5">
                            <a class="nav-link-next nav-item nav-link rounded sahel mx-1"
                               href="?page={{ page_obj.next_page_number }}">بعدی<i
                                    class="arrow-next fas fa-long-arrow-alt-left"></i></a>
                        </nav>
                    </div>
                {% endif %}

                <div class="col-12 text-center"><p class="text-primary text-center">صفحه {{ page_obj.number }}
                    از {{ page_obj.paginator.num_pages }}</p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}