<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پروگما</title>
</head>
<body style="text-align: center;direction: rtl;font-family: sahel">
<div>
    <p style="margin:0;padding:3px;font-size:20px;position: relative;width:100%;color:#316a3b;background-color:#dff5e3;"
       class="alert alert-primary">پروگما |
        مقاله جدید منتشر شده ، از دستش نده...</p></div>
<div style="background-color: rgba(113,253,255,0.29)">
    <p><a href="http://127.0.0.1:8000{{ get_url }}" target="_blank"
          style="font-size: 1.7rem;color: red;text-decoration: none">{{ content.title }}</a>
</div>
<div>
    </p>
    <p><a target="_blank" style="color: red;text-decoration: none" href="http://127.0.0.1:8000">پروگما</a>
    </p>
</div>
</body>
</html>