<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پروگما</title>
</head>
<body style="text-align: center;direction: rtl;border: 1.5px solid grey">
<h1>پروگما | مقالات</h1>
<h2>سلام چطوری ؟</h2>
<h2>مقاله جدید منتشر شده ، از دستش نده...</h2>
<p><a href="http://127.0.0.1:8000{{ get_url }}" target="_blank" style="font-size: 1.7rem;color: red">{{ content }}</a>
</p>
<p><a target="_blank" style="color: red" href="http://127.0.0.1:8000{{ get_url }}">کلیک کن !</a>
</p>
</body>
</html>